<div id="<%= dom_id(review) %>" class="review">
  <p><%= link_to_unless_current review.pros, job_review_path(@job,review) %></p>
  <p><strong>Work Hours: </strong><%= review.work_hours %></p>
  <p><strong>Pros: </strong><%= review.pros %></p>
  <p><strong>Cons: </strong><%= review.cons %></p>
  <p><strong>Hiring Manager Name: </strong><%= review.hiring_manager_name %></p>
</div>