<!DOCTYPE html>
<html>
  <head>
    <title>RateMyJob<%= " | "+yield(:title) unless yield(:title).blank? %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <!-- Navbar -->
    <header class="p-3 mb-3">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <%= link_to "RateMyJob", root_path, class: "navbar-brand fw-bold"%>
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <%= nav_link 'Home', root_path %>
            <%= nav_link 'Jobs', jobs_path %>
            <%= nav_link 'About', about_path %>
          </ul>
  
          <ul class="nav mb-md-0">
            <% if current_user %>
              <%= nav_link current_user.name, user_path(current_user) %>
              <%= nav_link 'Log out', logout_path %>
            <% else %>
              <%= nav_link 'Login', login_path %>
              <%= nav_link 'Sign Up', signup_path %>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
  
    <!-- End Navbar -->
    <main class="container-fluid">
      <!-- Flash message -->
      <div id="flash-messages" class="w-75">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == 'notice' ? 'primary' : 'danger' %> alert-dismissable fade show d-flex justify-content-between" role="alert">
          <p>
            <strong><%= msg %></strong>
          </p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      </div>
      <!-- End Flash message -->
      <div class="px-4 my-5">
        <% if @show_title %>
        <div id="title" class="row">
          <div class="col">
            <h1><%= yield(:title) %></h1>
          </div>
        </div>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">&copy; Sheryl Tania, 2022.</span>
      </div>
    </footer>
  </body>
</html>
